:root {
    --darkblue: #2C3E50;
    --blue: #6b77aa;
    --main_color: var(--blue);
    --fg_background: #ceeaea;
}


html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    /*background-color: #fafafa;*/
}

h2 {
    font-size: 2vw;
}

h3 {
    margin-left: 1rem;
    border-left: 6px solid var(--main_color);
    padding-left: 1%;
    font-weight: bold;
}


.main {
    background-color: var(--bs-gray-100);
    padding: 2rem 2rem 1rem 2rem;
    border-radius: 20px;
    margin-bottom: 2rem
}

@media (max-width: 1999px) {
    .main {
        width: 90%;
    }
}

@media (min-width: 1200px) {
    .main {
        width: 60%;
    }
}


.main-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: .7rem;
    justify-content: center;
}

.form-group {
    background-color: var(--fg_background);
    padding: 7px;
    border-radius: 5px;
}


#imagePreview {
    height: 200px;
}


/* Template preview */
.preview input[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.preview img {
    cursor: pointer;
    width: 90%;
    margin-top: 10px;
}

.preview input:checked + img {
    border-radius: 10px;
    box-shadow: 0 0 0 .25rem var(--darkblue);

}


/*STARS*/
.hovered {
    color: #F3E514;
}

.clicked {
    color: #cdc114;
}


.required {
    color: #c44133;
}