html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Fira Code, Calibri, serif;
    background-color: deepskyblue;
    margin: 0;
    padding: 0;
}

.container, header {
    display: flex;
}

header {
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border-bottom: black solid 2px;
    text-align: center;
}

h1 {
    font-size: 45px;
    color: red;
    margin: 0;
    padding: 1% 0 1% 2%;
    width: 100%;
    /*border-left: black 2px solid;*/

}

h1 span {
    font-family: curl, cursive, serif;
}


h3 {
    margin: 5px 0;
}

.logo {
    float: left;
    width: 8%;
    height: 90px;
}

img {
    height: 100%;
}

.col-left {
    float: left;
    width: 8%;
    height: 100%;
    text-align: center;
    padding-top: 10px;
}

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
.preview img {
    cursor: pointer;
    width: 90%;
}

/* CHECKED STYLES */
.preview input:checked + img {
    outline: 2px solid;
}

.preview input:hover + img {
    transform: scale(2);
    -moz-transform: scale(2);
    margin-left: 60%;
}

.col-right {
    padding-left: 2%;
    padding-top: .5%;
    background: moccasin;
    border-left: 2px solid black;
    width: 100%;
}

#CV-title {
    margin-left: auto;
    margin-right: auto;

    width: 25%;
    padding: .75% 0;
    border: 2px solid;

    transform: skew(-30deg);
}

#CV-title h2 {
    margin: 0;
    padding: 0;

    font-family: BatmanForeverAlternate, Calibri, serif;
    text-shadow: 3px 3px 2px black;
    font-size: 1.8vw;
    text-align: center;
    color: lightgrey;

    transform: skew(30deg);
}

.clicked {
    color: yellow;
}

#submitButton {
    display: block;
    margin: 3% auto;

    width: 250px;
    height: 50px;
}
